*{
    margin: 0;
    padding: 0;
}

/*カラーコード一覧
 青　#293462
 グレー背景 #b5b5b5
 グレー文字 #4c4c4c
 黄色 #faffb4
  */

  /* フォント一覧
  font-family: Arial, Helvetica, sans-serif; */

  @font-face {
      font-family: 'MyFont';
      src: url(/font/Comic\ Sans\ MS.ttf);
  }

  .fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
  }

  .scroll-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


body{
background-image: linear-gradient(90deg, transparent 31px, rgb(184, 184, 184) 32px),linear-gradient(0deg, transparent 31px,rgb(184, 184, 184) 32px);
background-size: 32px 32px;
/* background-color:aliceblue; */
}

h1{
    color: #293462;
    text-align: center;
    font-size: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}

.bg-fixed{
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    right: 0px;
    bottom: 0px;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: #b5b5b5;
    font-size: 250px;
    font-weight: 100;
    font-family: 'MyFont';
    text-align: center;
    transform: rotate(-6deg);
}

.top-text{
    /* background-color: aliceblue; */
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.scroll_center{
}

.top-icon-container{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top-icon{
    z-index: 100;
    display: flex;
}

.top-icon li{
    list-style-type: none;
}

nav{
/* background-color: azure; */
position: fixed;
z-index: 100;
right: 0;
top: 0;
width: 100vw;
display: flex;
justify-content: space-between;
}

/* .part_ai{
z-index: 100;
} */

.part{
    /* background-color: #ffff66; */
z-index: 50;
width: 100vw;
height: 100vh;
position: relative;
margin: 0 auto;
display: flex;
justify-content: center;
}
.part_img{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.part_img img{
    /* background-color: aqua; */
    position: absolute;
    transition: .4s ease-in-out;
}

.part_img img:nth-of-type(1){
   opacity: 0;
}

.part_img:hover img:nth-of-type(1){
    opacity: 1;
}

.part_img:hover img:nth-of-type(2){
    opacity: 0;
}


.cook{
    width: 100vw;
    /* height: 100%; */
    /* background-color: azure; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cook_contents{
    /* background-color: wheat; */
    display:flex;
    justify-content: center;
    margin: 100px 280px;
}

.cook_text_center{
padding: 15px;
}

.cook_center{
    display: flex;
}


.cook_img1{
   position: relative;
   width: 400px;
   height: 300px;
   margin: 0 auto;
  display: block;
   /* overflow: hidden; */
}  

.cook_img1 img{
    position: absolute;
    transition: .4s ease-in-out;
}

.img_size{
    box-shadow: 0 2px 3px rgba(0,0,0,0.57);
    border-radius: 25px;
    padding: 0;
    margin: 0;
}

/* 画像自体へのhoverは */
.cook_img1:hover img:nth-of-type(2) {
	opacity: 0;
}

/* 兄弟要素以外にはhoverかけられない、、、 */
/* .sasami_text a:hover+.cook_img1 img:nth-of-type(2){
   opacity: 0;
} */


.sasami_text{
    padding: 0 30px;
    z-index: 100;
    flex-direction: column;
}

h3{
    font-size: 50px;
    color: #293462;
}

h4{
    font-size: 25px;
    color: #4c4c4c;
}

h5{
    font-size: 20;
    color: #4c4c4c;
    background: linear-gradient(transparent 0%, #ffff66 0%);
    display: inline;
}

.button_cook{
    display: block;
    text-decoration: none;
    background:#fff;
    border: 3px solid #293462;
    border-radius: 10px;
    padding: 3px 10px ;
    width: 200px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 0 #293462;
    transition: 0.3s;
}

.button_cook:hover{
transform:translateY(3px);
box-shadow: 0 2px 0 #293462;
}

img{
    z-index: 100;
}

.big3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.japan{
    z-index: 100;
}

.eatery{
    height: 200vh;
    width: 100vw;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.eatery_contents{
    /* background-color: #ffff66; */
    z-index: 50;
    height: 50vh;
    width: 400px;
    margin: 30px auto;
}

.eatery_text{
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.button_eatery{
    display: block;
    text-decoration: none;
    background:#fff;
    border: 3px solid #293462;
    border-radius: 10px;
    padding: 3px 10px ;
    width: 200px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 0 #293462;
    transition: 0.3s;
}

.button_eatery:hover{
    transform: translateY(3px);
    box-shadow: 0 2px 0 #293462;
}

h6{
    font-size: 30px;
    color: #293462;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
}





/* スクロール */
.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    color:#293462;
    padding-top: 60px;
  }

  .scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid #293462;
    border-radius: 100%;
    box-sizing: border-box;
  }
  .scroll span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #293462;
    border-bottom: 2px solid #293462;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .scroll span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(51, 43, 43, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(69, 61, 61, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(34, 30, 30, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }





/* 背景 */

.cd-fixed-bg {
    position: relative;
    /* height: 100%; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

  /*--固定背景01--*/
  .cd-fixed-bg.cd-bg-0  {
    /* background-image: url('/material/bg_clickme.png'); */
    /* background-color: antiquewhite; */
  }

  /*--固定背景01--*/
  .cd-fixed-bg.cd-bg-1  {
    background-image: url('/material/bg_clickme.png');
    /* background-color:#ffff66; */
  }
  
  /*--固定背景02--*/
  .cd-fixed-bg.cd-bg-2  {
    background-image: url('/material/bg_part.png');
    /* background-color: aliceblue; */
  }
  
  /*--固定背景03--*/
  .cd-fixed-bg.cd-bg-3  {
    background-image: url('/material/bg_cook.png');
    /* background-color: aquamarine; */
  }
  
  /*--固定背景04--*/
  .cd-fixed-bg.cd-bg-4  {
    background-image: url('/material/bg_big3.png');
    /* background-color: blueviolet; */
  }

  /*--固定背景05--*/
  .cd-fixed-bg.cd-bg-5  {
    background-image: url('/material/bg_earery.png');
    /* background-color: blue; */
  }




@media all and (max-width:375px){

.cd-fixed-bg{
    background-size: contain;
}

h1{
font-size: 35px;
width: 100vw;
letter-spacing: 1px;
line-height: 60px;
}

.bg_clickme{
 width: 400px;
}

.top-icon{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    width: 100vw;
    height: 100vh;

}
.top-icon img{
    width: 150px;
}
.top-icon li{
    list-style-type: none;
}

.part_img img{
    width: 300px;
}

nav img{
    height: 70px;
}
nav{
    left: 0;
    top: 0;
}

.cook_text_center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cook_center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reverse{
    display: flex;
    flex-direction: column-reverse;
}

h3{
    font-size: 35px;
}
h4{
    font-size: 15px;
}

h5{
text-align: center;
}

.japan{
   width: 350px;
}

.img_size{
width: 250px;
height: 170px;
}

.cook_img1{
    width: 250px;
    height: 170px;
    }

.eatery_contents{
    display: flex;
  align-items: center;
  flex-direction: column;
}

h6{
    font-size: 25px;
}

.wrap{
    overflow: hidden;
}
}
